In [1]:
import pandas as pd

In [2]:
movies = pd.read_clipboard()

In [3]:
movies

Empty DataFrame
Columns: [movies[movies['language'].str.lower()=='english'][['name','rating']]]
Index: []

In [4]:
movies = pd.read_csv(r'movies data.csv')

In [5]:
movies

,id,name,industry,genre,language,duration,rating
0,1,Bahubali,Tollywood,Action,telugu,170,9.5
1,2,Brahmastra,Bollywood,Mysterous,Hindi,180,5.0
2,3,Uri-The Surgical strike,Bollywood,Action,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,5,Avengers-End of Game,Hollywood,SciFi,English,180,9.0
5,6,Tenat,Bollywood,SciFi,English,150,8.5
6,7,Major,Bollywood,Action,Hindi,140,8.0
7,8,Intersteller,Hollywood,SciFi,English,190,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,English,180,9.0
10,11,Yeh Jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
11,12,Housefull,Bollywood,Comedy,Hindi,150,6.0
12,13,The Dictator,Hollywood,Comedy,English,120,7.0
13,14,Herapheri,Bollywood,Comedy,Hindi,140,9.0
14,15,Sholay,Bollywood,Drama,Hindi,150,8.5

In [6]:
movies = pd.read_csv(r'movies data.csv',index_col = 0)

In [7]:
movies

,name,industry,genre,language,duration,rating
id,,,,,,
1,Bahubali,Tollywood,Action,telugu,170,9.5
2,Brahmastra,Bollywood,Mysterous,Hindi,180,5.0
3,Uri-The Surgical strike,Bollywood,Action,Hindi,120,10.0
4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
5,Avengers-End of Game,Hollywood,SciFi,English,180,9.0
6,Tenat,Bollywood,SciFi,English,150,8.5
7,Major,Bollywood,Action,Hindi,140,8.0
8,Intersteller,Hollywood,SciFi,English,190,7.0
9,Gravity,Hollywood,SciFi,English,130,6.0
10,Titanic,Hollywood,Drama,English,180,9.0
11,Yeh Jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
12,Housefull,Bollywood,Comedy,Hindi,150,6.0
13,The Dictator,Hollywood,Comedy,English,120,7.0
14,Herapheri,Bollywood,Comedy,Hindi,140,9.0
15,Sholay,Bollywood,Drama,Hindi,150,8.5

In [8]:
movies.columns

Index(['name', 'industry', 'genre', 'language', 'duration', 'rating'], dtype='object')

In [9]:
#movies.drop('              id', axis=1, inplace=True)

In [10]:
movies

,name,industry,genre,language,duration,rating
id,,,,,,
1,Bahubali,Tollywood,Action,telugu,170,9.5
2,Brahmastra,Bollywood,Mysterous,Hindi,180,5.0
3,Uri-The Surgical strike,Bollywood,Action,Hindi,120,10.0
4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
5,Avengers-End of Game,Hollywood,SciFi,English,180,9.0
6,Tenat,Bollywood,SciFi,English,150,8.5
7,Major,Bollywood,Action,Hindi,140,8.0
8,Intersteller,Hollywood,SciFi,English,190,7.0
9,Gravity,Hollywood,SciFi,English,130,6.0
10,Titanic,Hollywood,Drama,English,180,9.0
11,Yeh Jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
12,Housefull,Bollywood,Comedy,Hindi,150,6.0
13,The Dictator,Hollywood,Comedy,English,120,7.0
14,Herapheri,Bollywood,Comedy,Hindi,140,9.0
15,Sholay,Bollywood,Drama,Hindi,150,8.5

#### 1 - Find the longest movie name?

In [11]:
movies['duration'].argmax()

7

In [12]:
movies['name'][7]

'Major'

In [13]:
movies['name'][movies['duration'].argmax()]

'Major'

#### 2 - Number of Movies who got 10 rating?

In [14]:
n  = movies['rating']==10

In [15]:
movies[n]

,name,industry,genre,language,duration,rating
id,,,,,,
3,Uri-The Surgical strike,Bollywood,Action,Hindi,120,10.0
4,DDLJ,Bollywood,Romantic,Hindi,150,10.0

In [16]:
movies[n].shape

(2, 6)

In [17]:
movies[n].value_counts()

name                     industry   genre     language  duration  rating
DDLJ                     Bollywood  Romantic  Hindi     150       10.0      1
Uri-The Surgical strike  Bollywood  Action    Hindi     120       10.0      1
dtype: int64

In [18]:
sum(n)

2

In [19]:
sum(movies['rating']==10)

2

#### 3-How many industries are there?

In [20]:
movies['industry'].value_counts()

Bollywood    9
Hollywood    5
Tollywood    1
Name: industry, dtype: int64

In [21]:
type(movies['industry'].value_counts())

pandas.core.series.Series

In [22]:
movies['industry'].value_counts().count()

3

In [23]:
len(movies['industry'].value_counts())

3

In [24]:
movies['industry'].nunique() # no. of unique values

3

In [25]:
movies['industry'].unique()  # unique values

array(['Tollywood', 'Bollywood', 'Hollywood'], dtype=object)

#### 4-Find the least liked comedy movie name?

In [26]:
movies['name'][movies[movies['genre']=='Comedy']['rating'].idxmin()]

'Housefull'

In [27]:
movies.columns

Index(['name', 'industry', 'genre', 'language', 'duration', 'rating'], dtype='object')

#### 5-longest english movie

In [28]:
movies['name'][movies[movies['language']=='English']['duration'].idxmax()]

'Intersteller'

In [29]:
movies['name'][movies[movies['language']=='Hindi']['duration'].idxmax()]

'Brahmastra'

6-What is the genre of intersteller?

In [30]:
movies['genre'][7]

'Action'

In [31]:
# to use string functions in pandas first .str then func.

In [32]:
movies['name'].str.lower()

              id
1                    bahubali
2                  brahmastra
3     uri-the surgical strike
4                        ddlj
5        avengers-end of game
6                       tenat
7                       major
8                intersteller
9                     gravity
10                    titanic
11     yeh jawani hai deewani
12                  housefull
13               the dictator
14                  herapheri
15                     sholay
Name: name, dtype: object

In [33]:
names = movies['name']

In [34]:
names.values

array(['Bahubali', 'Brahmastra', 'Uri-The Surgical strike', 'DDLJ',
       'Avengers-End of Game', 'Tenat', 'Major', 'Intersteller',
       'Gravity', 'Titanic', 'Yeh Jawani Hai Deewani', 'Housefull',
       ' The Dictator', 'Herapheri', 'Sholay'], dtype=object)

In [35]:
names.to_list()

['Bahubali',
 'Brahmastra',
 'Uri-The Surgical strike',
 'DDLJ',
 'Avengers-End of Game',
 'Tenat',
 'Major',
 'Intersteller',
 'Gravity',
 'Titanic',
 'Yeh Jawani Hai Deewani',
 'Housefull',
 ' The Dictator',
 'Herapheri',
 'Sholay']

In [36]:
movies['genre'][movies['name']=='Intersteller'].values[0]

'SciFi'

In [37]:
movies['genre'][movies['name'].str.lower()=='Intersteller'.lower()].values[0]

'SciFi'

In [38]:
movies['genre'][movies['name'].str.lower()=='intersteller'].values[0]

'SciFi'

In [39]:
movies['genre'][movies['name'].str.strip().str.lower()=='Intersteller'.lower()].values[0]

'SciFi'

7-What is the average duration of each genre?

In [40]:
movies['genre'].unique()

array(['Action', 'Mysterous', 'Romantic', 'SciFi', 'Drama', 'Comedy'],
      dtype=object)

In [41]:
for genre in movies['genre'].unique():
    print(genre)

Action
Mysterous
Romantic
SciFi
Drama
Comedy

In [42]:
for genre in movies['genre'].unique():
    print(genre,movies[movies['genre']==genre]['duration'].mean())

Action 143.33333333333334
Mysterous 180.0
Romantic 150.0
SciFi 162.5
Drama 165.0
Comedy 136.66666666666666

In [55]:
movies.groupby('genre')['duration'].mean() # groupby is function used for grouping each column(i.e argument that we pass) just like it show complete group genre

genre
Action       143.333333
Comedy       136.666667
Drama        165.000000
Mysterous    180.000000
Romantic     150.000000
SciFi        162.500000
Name: duration, dtype: float64

In [44]:
movies.groupby(['genre','industry'])['duration'].mean() # groupby can take many nos. but in list

genre      industry
Action     Bollywood    130.000000
           Tollywood    170.000000
Comedy     Bollywood    145.000000
           Hollywood    120.000000
Drama      Bollywood    150.000000
           Hollywood    180.000000
Mysterous  Bollywood    180.000000
Romantic   Bollywood    150.000000
SciFi      Bollywood    150.000000
           Hollywood    166.666667
Name: duration, dtype: float64

In [45]:
movies.groupby(['industry','genre'])['duration'].mean()

industry   genre
Bollywood  Action       130.000000
           Comedy       145.000000
           Drama        150.000000
           Mysterous    180.000000
           Romantic     150.000000
           SciFi        150.000000
Hollywood  Comedy       120.000000
           Drama        180.000000
           SciFi        166.666667
Tollywood  Action       170.000000
Name: duration, dtype: float64

In [46]:
movies.describe()

         duration     rating
count   15.000000  15.000000
mean   153.333333   7.833333
std     22.253946   1.718249
min    120.000000   5.000000
25%    140.000000   6.500000
50%    150.000000   8.500000
75%    175.000000   9.000000
max    190.000000  10.000000

In [47]:
movies.info() # object means anything non numerical

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 1 to 15
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      15 non-null     object
 1   industry  15 non-null     object
 2   genre     15 non-null     object
 3   language  15 non-null     object
 4   duration  15 non-null     int64
 5   rating    15 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.4+ KB

In [48]:
movies.describe(include = 'all')

            name   industry  genre language    duration     rating
count         15         15     15       15   15.000000  15.000000
unique        15          3      6        3         NaN        NaN
top     Bahubali  Bollywood  SciFi    Hindi         NaN        NaN
freq           1          9      4        8         NaN        NaN
mean         NaN        NaN    NaN      NaN  153.333333   7.833333
std          NaN        NaN    NaN      NaN   22.253946   1.718249
min          NaN        NaN    NaN      NaN  120.000000   5.000000
25%          NaN        NaN    NaN      NaN  140.000000   6.500000
50%          NaN        NaN    NaN      NaN  150.000000   8.500000
75%          NaN        NaN    NaN      NaN  175.000000   9.000000
max          NaN        NaN    NaN      NaN  190.000000  10.000000

In [49]:
movies.groupby('industry').describe().T # T is for transpose (row to column and column to row)

industry         Bollywood   Hollywood  Tollywood
duration count    9.000000    5.000000        1.0
         mean   147.777778  160.000000      170.0
         std     15.634719   32.403703        NaN
         min    120.000000  120.000000      170.0
         25%    140.000000  130.000000      170.0
         50%    150.000000  180.000000      170.0
         75%    150.000000  180.000000      170.0
         max    180.000000  190.000000      170.0
rating   count    9.000000    5.000000        1.0
         mean     7.777778    7.600000        9.5
         std      1.970265    1.341641        NaN
         min      5.000000    6.000000        9.5
         25%      6.000000    7.000000        9.5
         50%      8.500000    7.000000        9.5
         75%      9.000000    9.000000        9.5
         max     10.000000    9.000000        9.5

In [50]:
movies.groupby(['industry','genre']).describe().T

industry         Bollywood                                                  \
genre               Action      Comedy  Drama Mysterous    Romantic  SciFi
duration count    2.000000    2.000000    1.0       1.0    2.000000    1.0
         mean   130.000000  145.000000  150.0     180.0  150.000000  150.0
         std     14.142136    7.071068    NaN       NaN    0.000000    NaN
         min    120.000000  140.000000  150.0     180.0  150.000000  150.0
         25%    125.000000  142.500000  150.0     180.0  150.000000  150.0
         50%    130.000000  145.000000  150.0     180.0  150.000000  150.0
         75%    135.000000  147.500000  150.0     180.0  150.000000  150.0
         max    140.000000  150.000000  150.0     180.0  150.000000  150.0
rating   count    2.000000    2.000000    1.0       1.0    2.000000    1.0
         mean     9.000000    7.500000    8.5       5.0    7.500000    8.5
         std      1.414214    2.121320    NaN       NaN    3.535534    NaN
         min      8.000000    6.000000    8.5       5.0    5.000000    8.5
         25%      8.500000    6.750000    8.5       5.0    6.250000    8.5
         50%      9.000000    7.500000    8.5       5.0    7.500000    8.5
         75%      9.500000    8.250000    8.5       5.0    8.750000    8.5
         max     10.000000    9.000000    8.5       5.0   10.000000    8.5

industry       Hollywood                    Tollywood
genre             Comedy  Drama       SciFi    Action
duration count       1.0    1.0    3.000000       1.0
         mean      120.0  180.0  166.666667     170.0
         std         NaN    NaN   32.145503       NaN
         min       120.0  180.0  130.000000     170.0
         25%       120.0  180.0  155.000000     170.0
         50%       120.0  180.0  180.000000     170.0
         75%       120.0  180.0  185.000000     170.0
         max       120.0  180.0  190.000000     170.0
rating   count       1.0    1.0    3.000000       1.0
         mean        7.0    9.0    7.333333       9.5
         std         NaN    NaN    1.527525       NaN
         min         7.0    9.0    6.000000       9.5
         25%         7.0    9.0    6.500000       9.5
         50%         7.0    9.0    7.000000       9.5
         75%         7.0    9.0    8.000000       9.5
         max         7.0    9.0    9.000000       9.5

8-What is the average rating of each industry?

In [51]:
movies.groupby('industry')['rating'].mean()

industry
Bollywood    7.777778
Hollywood    7.600000
Tollywood    9.500000
Name: rating, dtype: float64

9-Average rating of romantic movies industrywise?

In [52]:
movies[movies['genre'].str.lower()=='romantic'].groupby('industry')['rating'].mean()

industry
Bollywood    7.5
Name: rating, dtype: float64

10-List down all the english movies with their respective ratings in descending order?

In [53]:
movies[movies['language'].str.lower()=='english'][['name','rating']]

                                  name  rating
              id
5                 Avengers-End of Game     9.0
6                                Tenat     8.5
8                         Intersteller     7.0
9                              Gravity     6.0
10                             Titanic     9.0
13                        The Dictator     7.0

In [54]:
movies[movies['language'].str.lower()=='english'][['name','rating']].sort_values(by= 'rating',ascending=False)

                                  name  rating
              id
5                 Avengers-End of Game     9.0
10                             Titanic     9.0
6                                Tenat     8.5
8                         Intersteller     7.0
13                        The Dictator     7.0
9                              Gravity     6.0