In [3]:
import pandas as pd

In [ ]:
#Data Analysis
#1. Deascription
#2. Diagnosis
#3. Prediction
#4. Actions/Prescription

In [5]:
cols = ['user_id','movie_id','rating','timestamp']

In [6]:
# read the file and separate it with tabs
df = pd.read_csv('u.data',sep = '\t')

In [7]:
# read the file and column names also
df = pd.read_csv('u.data',sep = '\t', names = cols)

In [8]:
# Read the other file named as u.item
df1 = pd.read_csv('u.item',sep='|',encoding="ISO-8859-1")

In [9]:
# comprehension means for loop in one line of specific type

In [10]:
a = [4,8,2,7,9]

In [11]:
# b = [8,16,4,14,18]

b = []
for i in a:
    b.append(i*2)
b

[8, 16, 4, 14, 18]

In [12]:
b = [i*2 for i in a]      # syntax = bracket of type (here list) then output that we want then for loop
b

[8, 16, 4, 14, 18]

In [13]:
item_cols = ['movie_id','title'] + [str(i) for i  in range(22)] # take only two columns and left all by giving random names

In [14]:
df1 = pd.read_csv('u.item',sep='|',names = item_cols,encoding="ISO-8859-1")

In [15]:
df1 = pd.read_csv('u.item',sep='|',names = item_cols,encoding="ISO-8859-1")[['movie_id','title']] # only read that two columns

In [16]:
df1

      movie_id                                      title
0            1                           Toy Story (1995)
1            2                           GoldenEye (1995)
2            3                          Four Rooms (1995)
3            4                          Get Shorty (1995)
4            5                             Copycat (1995)
...        ...                                        ...
1677      1678                          Mat' i syn (1997)
1678      1679                           B. Monkey (1998)
1679      1680                       Sliding Doors (1998)
1680      1681                        You So Crazy (1994)
1681      1682  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

In [17]:
df1.sample(5) # type head or sample (to print all data it take so much time since sometimes data is too large)

      movie_id                                       title
1560      1561  Tigrero: A Film That Was Never Made (1994)
109        110                 Operation Dumbo Drop (1995)
1619      1620                       Sixth Man, The (1997)
1316      1317          Journey of August King, The (1995)
1666      1667                       Next Step, The (1995)

In [18]:
df1.shape

(1682, 2)

## Exploratory Data Analysis (EDA)

In [19]:
df

        user_id  movie_id  rating  timestamp
0             0        50       5  881250949
1             0       172       5  881250949
2             0       133       1  881250949
3           196       242       3  881250949
4           186       302       3  891717742
...         ...       ...     ...        ...
99998       880       476       3  880175444
99999       716       204       5  879795543
100000      276      1090       1  874795795
100001       13       225       2  882399156
100002       12       203       3  879959583

[100003 rows x 4 columns]

In [20]:
df.head()

   user_id  movie_id  rating  timestamp
0        0        50       5  881250949
1        0       172       5  881250949
2        0       133       1  881250949
3      196       242       3  881250949
4      186       302       3  891717742

In [21]:
df.sample(5)

       user_id  movie_id  rating  timestamp
56709      687       748       3  884652276
32703      453        69       4  877554647
46093      666         5       2  880568465
13954        6        56       4  883601277
64283      807       140       3  892530004

In [22]:
df.info() # it gives information about each column in detail
          # non null means nothing is missing

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100003 entries, 0 to 100002
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    100003 non-null  int64
 1   movie_id   100003 non-null  int64
 2   rating     100003 non-null  int64
 3   timestamp  100003 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

In [23]:
df.describe(include = 'all') # include all means it includes all integer and string both

             user_id       movie_id         rating     timestamp
count  100003.000000  100003.000000  100003.000000  1.000030e+05
mean      462.470876     425.520914       3.529864  8.835288e+08
std       266.622454     330.797791       1.125704  5.343791e+06
min         0.000000       1.000000       1.000000  8.747247e+08
25%       254.000000     175.000000       3.000000  8.794487e+08
50%       447.000000     322.000000       4.000000  8.828269e+08
75%       682.000000     631.000000       4.000000  8.882600e+08
max       943.000000    1682.000000       5.000000  8.932866e+08

In [ ]:
Data
1. Strings with Categorical Info
2. Strings with Random Stuff
3. Numbers with Quantified Info
4. Numbers with Categorical Info
5. Random Nimbers or ID sort of data

In [25]:
df.columns

Index(['user_id', 'movie_id', 'rating', 'timestamp'], dtype='object')

In [26]:
df['rating'].unique()

array([5, 1, 3, 2, 4], dtype=int64)

In [27]:
df['rating'].nunique()

5

In [28]:
df['user_id'].nunique()

944

In [29]:
df['movie_id'].nunique()

1682

In [30]:
# merging dataframes

In [31]:
movie = pd.merge(df,df1,on='movie_id')
movie.head()

   user_id  movie_id  rating  timestamp             title
0        0        50       5  881250949  Star Wars (1977)
1      290        50       5  880473582  Star Wars (1977)
2       79        50       4  891271545  Star Wars (1977)
3        2        50       5  888552084  Star Wars (1977)
4        8        50       5  879362124  Star Wars (1977)

In [32]:
# remove the redundant or useless columns i.e. timestamp
movie.drop('timestamp',axis=1,inplace=True)

In [33]:
movie.head()

   user_id  movie_id  rating             title
0        0        50       5  Star Wars (1977)
1      290        50       5  Star Wars (1977)
2       79        50       4  Star Wars (1977)
3        2        50       5  Star Wars (1977)
4        8        50       5  Star Wars (1977)

In [34]:
movie.columns

Index(['user_id', 'movie_id', 'rating', 'title'], dtype='object')

In [35]:
# Find the number of rating of each movie
movie['title'].value_counts().head(10)  # by nature it comes in descending order

Star Wars (1977)                 584
Contact (1997)                   509
Fargo (1996)                     508
Return of the Jedi (1983)        507
Liar Liar (1997)                 485
English Patient, The (1996)      481
Scream (1996)                    478
Toy Story (1995)                 452
Air Force One (1997)             431
Independence Day (ID4) (1996)    429
Name: title, dtype: int64

In [36]:
# Find the average rating for each movie
movie.groupby('title')['rating'].mean()

title
'Til There Was You (1997)                2.333333
1-900 (1994)                             2.600000
101 Dalmatians (1996)                    2.908257
12 Angry Men (1957)                      4.344000
187 (1997)                               3.024390
                                           ...
Young Guns II (1990)                     2.772727
Young Poisoner's Handbook, The (1995)    3.341463
Zeus and Roxanne (1997)                  2.166667
unknown                                  3.444444
Á köldum klaka (Cold Fever) (1994)       3.000000
Name: rating, Length: 1664, dtype: float64

In [37]:
movie.groupby('title')['rating'].mean().sort_values(ascending=False).head(10)

title
They Made Me a Criminal (1939)                       5.0
Marlene Dietrich: Shadow and Light (1996)            5.0
Saint of Fort Washington, The (1993)                 5.0
Someone Else's America (1995)                        5.0
Star Kid (1997)                                      5.0
Great Day in Harlem, A (1994)                        5.0
Aiqing wansui (1994)                                 5.0
Santa with Muscles (1996)                            5.0
Prefontaine (1997)                                   5.0
Entertaining Angels: The Dorothy Day Story (1996)    5.0
Name: rating, dtype: float64

In [38]:
movie.groupby('title')['rating'].mean().sort_values(ascending=False).value_counts().head(10)

3.000000    101
1.000000     69
2.000000     52
4.000000     41
2.500000     33
3.500000     21
2.666667     21
2.750000     17
3.333333     17
3.666667     16
Name: rating, dtype: int64

In [52]:
# merging botth above questions

In [54]:
ratings = pd.DataFrame(movie.groupby('title')['rating'].mean().sort_values(ascending=False))
ratings

                                              rating
title
They Made Me a Criminal (1939)                   5.0
Marlene Dietrich: Shadow and Light (1996)        5.0
Saint of Fort Washington, The (1993)             5.0
Someone Else's America (1995)                    5.0
Star Kid (1997)                                  5.0
...                                              ...
Eye of Vichy, The (Oeil de Vichy, L') (1993)     1.0
King of New York (1990)                          1.0
Touki Bouki (Journey of the Hyena) (1973)        1.0
Bloody Child, The (1996)                         1.0
Crude Oasis, The (1995)                          1.0

[1664 rows x 1 columns]

In [55]:
ratings['count'] = movie['title'].value_counts()

In [57]:
ratings.head(20)

                                                      rating  count
title
They Made Me a Criminal (1939)                      5.000000      1
Marlene Dietrich: Shadow and Light (1996)           5.000000      1
Saint of Fort Washington, The (1993)                5.000000      2
Someone Else's America (1995)                       5.000000      1
Star Kid (1997)                                     5.000000      3
Great Day in Harlem, A (1994)                       5.000000      1
Aiqing wansui (1994)                                5.000000      1
Santa with Muscles (1996)                           5.000000      2
Prefontaine (1997)                                  5.000000      3
Entertaining Angels: The Dorothy Day Story (1996)   5.000000      1
Pather Panchali (1955)                              4.625000      8
Some Mother's Son (1996)                            4.500000      2
Maya Lin: A Strong Clear Vision (1994)              4.500000      4
Anna (1996)                                         4.500000      2
Everest (1998)                                      4.500000      2
Close Shave, A (1995)                               4.491071    112
Schindler's List (1993)                             4.466443    298
Wrong Trousers, The (1993)                          4.466102    118
Casablanca (1942)                                   4.456790    243
Wallace & Gromit: The Best of Aardman Animation...  4.447761     67

In [59]:
ratings.sort_values(by='count',ascending = False).head(20)

                                    rating  count
title
Star Wars (1977)                  4.359589    584
Contact (1997)                    3.803536    509
Fargo (1996)                      4.155512    508
Return of the Jedi (1983)         4.007890    507
Liar Liar (1997)                  3.156701    485
English Patient, The (1996)       3.656965    481
Scream (1996)                     3.441423    478
Toy Story (1995)                  3.878319    452
Air Force One (1997)              3.631090    431
Independence Day (ID4) (1996)     3.438228    429
Raiders of the Lost Ark (1981)    4.252381    420
Godfather, The (1972)             4.283293    413
Pulp Fiction (1994)               4.060914    394
Twelve Monkeys (1995)             3.798469    392
Silence of the Lambs, The (1991)  4.289744    390
Jerry Maguire (1996)              3.710938    384
Chasing Amy (1997)                3.839050    379
Rock, The (1996)                  3.693122    378
Empire Strikes Back, The (1980)   4.206522    368
Star Trek: First Contact (1996)   3.660274    365

In [60]:
ratings.sort_values(by='rating',ascending = False).head(20)

                                                      rating  count
title
They Made Me a Criminal (1939)                      5.000000      1
Marlene Dietrich: Shadow and Light (1996)           5.000000      1
Saint of Fort Washington, The (1993)                5.000000      2
Someone Else's America (1995)                       5.000000      1
Star Kid (1997)                                     5.000000      3
Great Day in Harlem, A (1994)                       5.000000      1
Aiqing wansui (1994)                                5.000000      1
Santa with Muscles (1996)                           5.000000      2
Prefontaine (1997)                                  5.000000      3
Entertaining Angels: The Dorothy Day Story (1996)   5.000000      1
Pather Panchali (1955)                              4.625000      8
Everest (1998)                                      4.500000      2
Anna (1996)                                         4.500000      2
Maya Lin: A Strong Clear Vision (1994)              4.500000      4
Some Mother's Son (1996)                            4.500000      2
Close Shave, A (1995)                               4.491071    112
Schindler's List (1993)                             4.466443    298
Wrong Trousers, The (1993)                          4.466102    118
Casablanca (1942)                                   4.456790    243
Wallace & Gromit: The Best of Aardman Animation...  4.447761     67

In [61]:
movie_pivot = movie.pivot_table(index = 'user_id',columns = 'title',values = 'rating')
movie_pivot.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## applying correlation formula

In [65]:
movie_selected = 'Star Wars (1977)'

In [66]:
ms_rates = movie_pivot[movie_selected]
ms_rates.head()

user_id
0    5.0
1    5.0
2    5.0
3    NaN
4    5.0
Name: Star Wars (1977), dtype: float64

In [69]:
import warnings
warnings.filterwarnings('ignore')

In [72]:
corrs = movie_pivot.corrwith(ms_rates).sort_values(ascending = False)
corrs.head(20)

title
Hollow Reed (1996)                                                                   1.0
Commandments (1997)                                                                  1.0
Cosi (1996)                                                                          1.0
No Escape (1994)                                                                     1.0
Stripes (1981)                                                                       1.0
Star Wars (1977)                                                                     1.0
Man of the Year (1995)                                                               1.0
Beans of Egypt, Maine, The (1994)                                                    1.0
Old Lady Who Walked in the Sea, The (Vieille qui marchait dans la mer, La) (1991)    1.0
Outlaw, The (1943)                                                                   1.0
Line King: Al Hirschfeld, The (1996)                                                 1.0
Hurricane Streets (1998)                                                             1.0
Scarlet Letter, The (1926)                                                           1.0
Good Man in Africa, A (1994)                                                         1.0
Safe Passage (1994)                                                                  1.0
Golden Earrings (1947)                                                               1.0
Full Speed (1996)                                                                    1.0
Twisted (1996)                                                                       1.0
Ed's Next Move (1996)                                                                1.0
Mondo (1996)                                                                         1.0
dtype: float64

In [80]:
corrs_df = pd.DataFrame(corrs,columns = ['Correlation'])
corrs_df.head()

                     Correlation
title
Hollow Reed (1996)           NaN
Commandments (1997)          NaN
Cosi (1996)                  NaN
No Escape (1994)             NaN
Stripes (1981)               NaN

In [82]:
corrs_df['rating'] = ratings['rating']
corrs_df['count'] = ratings['count']

In [85]:
corrs_df.head()

                     Correlation    rating  count
title
Hollow Reed (1996)           NaN  2.333333      6
Commandments (1997)          NaN  2.666667      3
Cosi (1996)                  NaN  4.000000      4
No Escape (1994)             NaN  2.400000      5
Stripes (1981)               NaN  3.800000      5

In [89]:
corrs_df[corrs_df['count']>50].sort_values(by='Correlation',ascending=False).head(20)

,Correlation,rating,count
title,,,
Star Wars (1977),NaN,4.359589,584
"Empire Strikes Back, The (1980)",NaN,4.206522,368
Return of the Jedi (1983),NaN,4.007890,507
Raiders of the Lost Ark (1981),NaN,4.252381,420
Giant (1956),NaN,3.745098,51
"Life Less Ordinary, A (1997)",NaN,3.075472,53
Austin Powers: International Man of Mystery (1997),NaN,3.246154,130
"Sting, The (1973)",NaN,4.058091,241
Indiana Jones and the Last Crusade (1989),NaN,3.930514,331
Pinocchio (1940),NaN,3.673267,101
Things to Do in Denver when You're Dead (1995),NaN,3.154930,71
Shadowlands (1993),NaN,3.935897,78
"Frighteners, The (1996)",NaN,3.234783,115
L.A. Confidential (1997),NaN,4.161616,297
Wag the Dog (1997),NaN,3.510949,137
Sabrina (1954),NaN,3.796875,64
Dumbo (1941),NaN,3.495935,123
"Bridge on the River Kwai, The (1957)",NaN,4.175758,165
"Philadelphia Story, The (1940)",NaN,4.115385,104
Miracle on 34th Street (1994),NaN,3.722772,101

In [100]:
top_recom = list(corrs_df[corrs_df['count']>50].sort_values(by='Correlation',ascending=False).head(3).index)

In [101]:
top_recom.remove(movie_selected)

In [102]:
top_recom

['Empire Strikes Back, The (1980)', 'Return of the Jedi (1983)']

In [94]:
a = [4,5,7]

In [95]:
a

[4, 5, 7]

In [96]:
a.remove(5)

In [97]:
a

[4, 7]

In [103]:
movie_selected

'Star Wars (1977)'

In [108]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

def movie_recommend(movie_selected = 'Star Wars (1977)'):
    #Read the files
    cols = ['user_id','movie_id','rating','timestamp']
    df = pd.read_csv('u.data',sep = '\t', names = cols)
    item_cols = ['movie_id','title'] + [str(i) for i  in range(22)] 
    df1 = pd.read_csv('u.item',sep='|',names = item_cols,encoding="ISO-8859-1")
    
    #Merge the DataFrames
    movie = pd.merge(df,df1,on='movie_id')
    
    #Create the Pivot table
    movie_pivot = movie.pivot_table(index = 'user_id',columns = 'title',values = 'rating')
    
    #Find Similarity with Selected Movie
    corrs = movie_pivot.corrwith(movie_pivot[movie_selected])
    corrs_df = pd.DataFrame(corrs,columns = ['Correlation'])
    corrs_df['rating'] = ratings['rating']
    corrs_df['count'] = ratings['count']
    
    # Find Top 2-3 Recommendations
    top_recom = list(corrs_df[corrs_df['count']>50].sort_values(by='Correlation',ascending=False).head(3).index)
    top_recom.remove(movie_selected)
    
    return top_recom

In [109]:
movie_recommend('Giant (1956)')

['Daylight (1996)', 'Anastasia (1997)']